* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;

}

main {
    width: 80%;
    margin: 0 auto;

    @media #{$mq-620-down} {
        width: 90%;
    }

}